certifi==2025.7.14
charset-normalizer==3.4.2
click==8.1.8
gTTS==2.5.4
idna==3.10
playsound==1.2.2
pygame==2.6.1
PySide6==6.9.1
PySide6_Addons==6.9.1
PySide6_Essentials==6.9.1
requests==2.32.4
shiboken6==6.9.1
urllib3==2.5.0
